@{
    ViewData["Title"] = "Privacy Policy";
}

<br />
<div class="text-center">
    <h2 style="font-family:'Comic Sans MS';">Немного о нас</h2>
</div>
<br />
<pre style="font-family:'Comic Sans MS'; font-size:1.2em;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Государственное предприятие «Международный аэропорт «Борисполь» является крупнейшим и самым мощным

    в Украине. Обеспечивает 62% авиационных пассажирских перевозок Украины, по результатам 2018 года обслужил 

    12,6 млн пассажиров. Международный аэропорт «Борисполь» — государственное коммерческое предприятие 

    гражданской авиации, основанное на государственной собственности, которое входит в сферу управления 

    Министерства инфраструктуры Украины.

         Благодаря активной политике привлечения авиаперевозчиков, в аэропорт выполняют полеты более 60 

    национальных и зарубежных авиакомпаний по более, чем 120 маршрутам во всем мире. Аэропорт «Борисполь» 

    — единственный аэропорт Украины, успешно конкурирующий с крупными европейскими аэропортами-хабами. 

    По оценке Международного совета аэропортов (ACI EUROPE) «Борисполь» в 2018 году возглавил рейтинг роста 

    среди крупных аэропортов Европы (первое место в группе европейских аэропортов, обслуживающих от 10 до 25 

    миллионов пассажиров).

         Аэропорт является действительным членом профильных международных и национальных ассоциаций: 

    Международный совет аэропортов Европейского региона (Airports Council International; ACI Еurope), 

    Украинская авиатранспортная Ассоциация (УАТА), Торгово-Промышленная Палата Украины, Украинская 

    ассоциация качества, Организация работодателей предприятий транспортных услуг, Ассоциация плательщиков
 
    налогов Украины, и руководствуется в своей деятельности стандартами и практиками Международной 

    ассоциации воздушного транспорта (International Air Transport Association; IATA), Международной 

    организации гражданской авиации (International Civil Aviation Organization; ICAO).

          Спрос на услуги аэропорта поддерживается выгодным географическим расположением на пересечении 

    ряда межгосударственных транспортных путей (сочетают Азию с Европой и Америкой), близостью к столице, 

    наличием современной инфраструктуры и внедрением хабовой стратегии развития.

          Инфраструктура аэропорта включает в себя две взлетно-посадочные полосы (длиной 4 км и 3,5 км), 

    позволяющие принимать воздушные суда любого типа, без ограничений по погодным и световыми условиями, 

    а также 2 постоянно действующих терминала (D и F). Аэропорт «Борисполь» единственный в Украине, 

    из которого выполняются регулярные трансконтинентальные рейсы. Аэропорт «Борисполь» постоянно 

    совершенствуется — развивает инфраструктуру, привлекает новые авиакомпании и улучшает качество 

    обслуживания. В 2019 году Кабинетом Министров Украины была утверждена Концепция развития Между-
  
    народного аэропорта «Борисполь» на период до 2045 года, основными приоритетами которой является 

    развитие инфраструктуры и внедрение современных сервисов.
</pre>
